:root {
  --turquoise-blue: #09a0c9  ;
  --dusk: #5b6483;
  --golden-yellow: #efcd26;
  --azure: #3367b1;
  --dark-blue-grey: #161f3d;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.montserrat {
  font-family: 'Montserrat', sans-serif;
}



/*SMALL SCREEN*/
@media only screen  and (max-width: 512px) {
  img.talao-logo {
    height: 100%;
  }
  div.dark-blue-jumbo {
    padding: 15% 25% 34% 15%;
    background-color: var(--dark-blue-grey);
  }

  .img-phone {
    width: 270.7px;
    height: 545.4px;
    margin-top: -200px;
    object-fit: contain;
  }

  .img-banner {
    position: relative;
    width: 100%;
    margin: 5px 5px 5px;
    object-fit: contain;
    display: none;
  }

  .tag-h1 {
    font-family: Montserrat;
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  p.paragraph {
    padding-top: 50px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
      
      
      display: none;
  }
  img.title-separator-alt {
  
    object-fit: contain;
  }

  .section-header-dark {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  
  img.btn-google-play {  
    width: 208px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }

  
  div.dark-blue-section {
    width: 100%;
    height: 590.3px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    display:none;
    object-fit: contain;
    margin-bottom: -80px;
  }
  img.seperation-stripe-alt {
    object-fit: contain;
    margin-bottom: -80px;
  }


  img.activation-pass-wallet {
    width: 100%;
    height: 205.9px;
    margin: 20% 0 29%;
    object-fit: contain;
    display:none;
  }
  img.activation-pass-wallet-alt {
    width: 100%;
    height: 205.9px;
    margin-top: 5%;
    object-fit: contain;
  }
  .title-yellow-sec {
    margin-top:10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);

  }
  .title-yellow {
    margin-top:50%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }
  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }
  .shifting-content-location{
    text-align: center;
  }

  div.separation-hr {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
  }

  .download-use-case {
    width: 100%;
    object-fit: contain;
  }

  .separator-top {
    width: 172px;
    height: 172px;
    object-fit: contain;
    margin-bottom: -85px;
  }

  
}


/*MEDIUM SCREEN*/
@media only screen and (min-width: 512px) and (max-width: 1024px) {
  img.talao-logo {
    height: 100%;
  }
  div.dark-blue-jumbo {
    padding: 15% 25% 34% 15%;
    background-color: var(--dark-blue-grey);
  }

  .img-phone {
    width: 100%;
    margin-top: -350px;
    object-fit: contain;
  }

  .img-banner {
    width: 100%;
    object-fit: contain;
    display: none;
  }

  .tag-h1 {
    font-family: Montserrat;
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  p.paragraph {
    padding-top: 50px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
      
      
      display: none;
  }
  img.title-separator-alt {
  
    object-fit: contain;
  }

  .section-header-dark {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  
  img.btn-google-play {  
    width: 208px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }

  
  div.dark-blue-section {
    width: 100%;
    height: 590.3px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    display:none;
    object-fit: contain;
    margin-bottom: -100px;
  }
  img.seperation-stripe-alt {
    object-fit: contain;
    margin-bottom: -100px;
  }

  img.activation-pass-wallet {
    width: 100%;
    height: 205.9px;
    margin: 20% 0 29%;
    object-fit: contain;
    display:none;
  }
  img.activation-pass-wallet-alt {
    width: 100%;
    height: 205.9px;
    margin-top: 5%;
    object-fit: contain;
  }
  .title-yellow-sec {
    margin-top:10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);

  }
  
  .title-yellow {
    margin-top:50%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }

  .shifting-content-location{
    text-align: center;
  }

  div.separation-hr {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
  }


  .download-use-case {
    width: 100%;
    object-fit: contain;
  }

  .separator-top {
    width: 172px;
    height: 172px;
    object-fit: contain;
    margin-bottom: -85px;
  }

  
}
  

/*LARGE SCREEN*/
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  img.talao-logo {
    height: 100%;
  }

  div.dark-blue-jumbo {
    height: 690px;  
    padding: 6% 25% 34% 17%;
    background-color: var(--dark-blue-grey);
  }


  .img-phone {
    width: 100%;
    margin-top: -400px;
    object-fit: contain;
  }


  .img-banner {
    width: 100%;
    position:absolute;
    left:-50px;
    top: 0px;
    
  }

  .tag-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  
  p.paragraph {
    padding-top: 100px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }


  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
  }

  
  img.title-separator-alt {
  
    object-fit: contain;
    display:none;
  }

  .section-header-dark {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  
  img.btn-google-play {  
    width: 208px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  div.dark-blue-section {
    width: 100%;
    height: 590.3px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    width: 100%;
    object-fit: contain;
    margin-bottom: -120px;
  }

  img.seperation-stripe-alt {
    display:none;
    object-fit: contain;
    margin-bottom: -120px;
  }

  img.activation-pass-wallet {
    width: 100%;
    height: 307.2px;
    margin: 20% 0 29%;
    object-fit: contain;
  }
  img.activation-pass-wallet-alt {
    width: 100%;
    height: 307.2px;
    margin: 10px;
    object-fit: contain;
    display: none;
  }
  
  .title-yellow-sec {
    margin: 24% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--golden-yellow);
  }

  
  .title-yellow {
    margin: 24% 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }
  
  .shifting-content-location{
    text-align: left;
  }
  div.separation-hr {
    width: 354px;
    height: 1px;
    margin: 76.5px 19.9px 71.5px 23px;
    background-color: #d8d8d8;
    display: none;
}
  
  div.separated {
    margin-top: 100px;
  }
  
  .download-use-case {
    width: 100%;
    object-fit: contain;
  }
  
  .separator-top {
    width: 289px;
    height: 289px;
    object-fit: contain;
    margin-bottom: -140px;
  }

}

/*HUGE SCREEN*/
@media only screen and (min-width: 1921px) {
  img.talao-logo {
    height: 100%;
  }

  div.dark-blue-jumbo {
    height: 690px;  
    padding: 6% 25% 34% 17%;
    background-color: var(--dark-blue-grey);
  }

  .img-phone {
    width: 100%;
    margin-top: -500px;
    object-fit: contain;
  }


  .img-banner {
    width: 100%;
    position:absolute;
    left:-50px;
    top: 0px;
    
  }

  .tag-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  
  p.paragraph {
    padding-top: 100px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }


  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
  }

  
  img.title-separator-alt {
  
    object-fit: contain;
    display:none;
  }

  .section-header-dark {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  
  img.btn-google-play {  
    width: 208px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  div.dark-blue-section {
    width: 100%;
    height: 658px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    width: 100%;
    object-fit: contain;
    margin-bottom: -200px;
  }

  img.seperation-stripe-alt {
    display:none;
    object-fit: contain;
    margin-bottom: -120px;
  }

  img.activation-pass-wallet {
    width: 100%;
    height: 307.2px;
    margin: 15% 0 5%;
    object-fit: contain;
  }
  img.activation-pass-wallet-alt {
    width: 100%;
    height: 307.2px;
    margin: 10px;
    object-fit: contain;
    display: none;
  }
  
  .title-yellow-sec {
    margin: 15% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--golden-yellow);
  }

  .title-yellow {
    margin: 15% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }
  
  .shifting-content-location{
    text-align: left;
  }

  div.separation-hr {
      width: 354px;
      height: 1px;
      margin: 76.5px 19.9px 71.5px 23px;
      background-color: #d8d8d8;
      display: none;
  }

  div.separated {
    margin-top: 100px;
  }
  .download-use-case {
    width: 100%;
    object-fit: contain;
  }
  

  .separator-top {
    width: 289px;
    height: 289px;
    object-fit: contain;
    margin-bottom: -140px;
  }
}

/*COMMON*/
.links-icon {
  width: 19.8px;
  height: 19.8px;
  object-fit: contain;
}

.links-dark {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.89;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-blue-grey);
}

.links-light {
  font-family: 'Noto Sans', sans-serif;  
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  line-height: 6.63;
  letter-spacing: normal;
  text-align: center;
  color: var(--turquoise-blue);
}

.phone-download {
  max-width: 427.5px;
  max-height: 609px;
  object-fit: contain;
}

.btn-learn-more {
  margin-top: 5%;
  width: 202px;
}

.borderless-card {
  border: 0;
  background-color: white;
}
  
.icon-use-case {  
  width: 41.2px;
  height: 45.8px;
  object-fit: contain;
}

.nav-menu {
  font-family: 'Noto Sans', sans-serif;  
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.29;
  letter-spacing: normal;
  text-align: right;
  color: var(--dark-blue-grey);
}

div.footer-normal {
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);

}

div.footer-title {
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);
}

img.follow-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}




/****************************************************/

  .img-fit {
    object-fit: contain;
  }
  .img-scale {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .img-separator {

    margin-top: -150px;
    
    object-fit: contain;
  }
.after-separator {
  margin-top: 150px;
}
 




  .subtitle-dark {
    max-height: 107px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

 
  
  .tag-h2-dark {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-blue-grey);
  }


 






  .Trac-141 {
    width: 100%;
    background-color: var(--dark-blue-grey);
  }







  .white-label {
      height: 22px;
      padding-right: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
  }

 .icon-btn-learn-more {
    width: 28px;
    height: 18px;
    padding-left: 10px;
    object-fit: contain;
  }




  


  
  


  



  .bg-playground {
    background-color: var(--dark-blue-grey);
  }

  .tall-element {
      width: 100%;
      height: 500px;
  }

  .step-image-desktop {
    max-height: 270px;
    object-fit: contain;
  }

  
  .step-image-mobile {  
    max-height: 270px;
    object-fit: contain;
  }

  .btn-demo-hr {
    margin-top:-25px;
  }

  .btn-demo {
    height: 50px;
  }

  .manage-image {
    
    max-height: 546px;
    object-fit: contain;
  }

  


  
  @media only screen  and (max-width: 1024px) {
    .light-blue-div {  
      height: auto;
      
      background-color: var(--turquoise-blue);
    }
  
    .light-blue-image {
      width:100%;
      object-fit: contain;
    }
  
  }
  
    
  @media only screen and (min-width: 1024px) {
    .light-blue-div {  
      height: 546px;
      background-color: var(--turquoise-blue);
    }
  
  .light-blue-image {
    max-height: 500px;
    margin-right: -500px;
    object-fit: contain;
  }

  .azure-container {
    background-color: var(--azure);
  }

  .turquoise-container {
    background-color: var(--turquoise-blue);
  }

  
  .col-fixed {
    height: 306px;
    
  }

  .col-fixed-2 {
    height: 712px;
    
  }

  .img-stack {
    width: 35vw;
    height: 35vh;
    
  }

  .btn-over {
    position:relative;
    margin-top: 100px;
    
  }

}

