:root {
  --turquoise-blue: #09a0c9  ;
  --light-turquoise-blue: #e5f5fa  ;
  --dusk: #5b6483;
  --golden-yellow: #efcd26;
  --azure: #3367b1;
  --dark-blue-grey: #161f3d;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.montserrat {
  font-family: 'Montserrat', sans-serif;
}



/*SMALL SCREEN*/
@media only screen  and (max-width: 512px) {
  img.talao-logo {
    margin-left: 10px;
    height: 100%;
  }
  div.dark-blue-jumbo {
    padding: 15% 25% 34% 15%;
    background-color: var(--dark-blue-grey);
  }

  .phone-home {
    height: 745px;
    margin-left:10px;
    margin-top: -200px;
    object-fit: contain;
  }

  .img-banner {
    position: relative;
    width: 100%;
    margin: 5px 5px 5px;
    object-fit: contain;
    display: none;
  }

  .tag-h1 {
    font-family: Montserrat;
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  p.paragraph {
    padding-top: 50px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
      
      
      display: none;
  }
  img.title-separator-alt {
  
    object-fit: contain;
  }

  .section-header-dark {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: 'NotoSans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    height: 62px;
    margin: 5px;
    object-fit: contain;
  }

  div.dark-blue-section {
    height: 590.3px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    display:none;
    object-fit: contain;
    margin-bottom: -80px;
  }
  img.seperation-stripe-alt {
    object-fit: contain;
    margin-bottom: -80px;
  }


  img.activation-pass-wallet {
    max-width: 468px;
    object-fit: contain;
    display:none;
  }
  img.activation-pass-wallet-alt {
    max-width: 468px;
    object-fit: contain;
  }
  .title-yellow-sec {
    margin-top:10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);

  }
  .title-yellow {
    margin-top:50%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .title-white {
    margin-top:50%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .title-white-single {
    margin-top:50%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .title-white-low {
    margin-top:10%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .section-title-dark-single {
    margin: 3%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }
  .shifting-content-location{
    text-align: center;
  }

  div.separation-hr {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
  }

  .download-use-case {
    object-fit: contain;
  }

  .separator-top {
    width: 172px;
    height: 172px;
    object-fit: contain;
    margin-bottom: -85px;
  }

  div.lower {
    margin-top:10%;
  }

  div.high {
    margin-bottom:10%;
  }

  div.higher {
    margin-bottom:20%;
  }

  div.vertical-line {
    width: 3px;
    height: 120px;
    margin-top: -80px;
    margin-left:50%;
    background-color:  var(--turquoise-blue); 
    color: var(--turquoise-blue);
  }
  
  .step-title {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-blue-grey);
  }

  .step-muted {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: right;
    color: lightslategrey;
  }

  .step-image-desktop {
    height: 363px;
    
    object-fit: contain;
  }
  .step-image-mobile {  
    height: 363px;
    object-fit: contain;
  }
  
  .light-blue-image {
    height: 546px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .light-blue-image-no-shadow {
    height: 546px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .phone-image {
    height: 744px;
    object-fit: contain;
  }

  .lg-only {
    display: none;
  }

  /*University*/
  .azure-container {
    background-color: var(--azure);
  }

  
  .uni-logo {
    margin: 5px 5px 5px;
    height: 50px;
    object-fit: contain;
  }

  .uni-tools {  
    height: 50px;
    object-fit: contain;
  }


  .content-padded-uni{
    padding: 10px;

  }
  .accordion-double {
    height:600px;
  }
  .accordion-single {
    height:300px;
  }

  .action-button {
    width: 100%;
  }

  /*Discount use case*/

.discount-box {
  margin: 10% 5% 10%;
}

.discount-title {
  font-family: 'NotoSans', sans-serif;
  font-size: 56px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);
}

.discount-info {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3f434d;
}

.discount-perc {
  font-family: 'NotoSans', sans-serif;
  font-size: 77px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f1e28;
}

.discount-perc-sub {
    font-family: 'NotoSans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f1e28;
}

.discount-article {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #1f2024;

}

img.discount-article-img {
  max-height:472px;
  object-fit: contain;
}

img.discount-monkey-img {
  max-height:673px;
  object-fit: contain;
}

img.discount-sub-icons {
  max-width: 13px;
  max-height: 13px;
}

div.discount-separation-top {
  margin-top: 5%;
}

.account-body {
  margin-top:10%;
  margin-bottom:10%;
}

.justify-diff{
  text-align: center;
}

}


/*MEDIUM SCREEN*/
@media only screen and (min-width: 512px) and (max-width: 1024px) {
  img.talao-logo {
    margin-left: 10px;
    height: 100%;
  }
  div.dark-blue-jumbo {
    padding: 15% 25% 34% 15%;
    background-color: var(--dark-blue-grey);
  }

  .phone-home {
    height: 745px;
    margin-left:10px;
    margin-top: -250px;
    object-fit: contain;
  }

  .img-banner {
    width: 100%;
    object-fit: contain;
    display: none;
  }

  .tag-h1 {
    font-family: Montserrat;
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  p.paragraph {
    padding-top: 50px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
      
      
      display: none;
  }
  img.title-separator-alt {
  
    object-fit: contain;
  }

  .section-header-dark {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: 'NotoSans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }
  
  div.dark-blue-section {
    height: 590.3px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    display:none;
    object-fit: contain;
    margin-bottom: -100px;
  }
  img.seperation-stripe-alt {
    object-fit: contain;
    margin-bottom: -100px;
  }

  img.activation-pass-wallet {
    max-width: 468px;
    object-fit: contain;
    display:none;
  }
  img.activation-pass-wallet-alt {
    max-width: 468px;
    object-fit: contain;
  }
  .title-yellow-sec {
    margin-top:10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);

  }
  
  .title-yellow {
    margin-top:30%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .title-white {
    margin-top:30%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }
  .title-white-single {
    margin-top: 30%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .title-white-low {
    margin-top:30%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .section-title-dark-single {
    margin: 5%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 43px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }


  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }

  .shifting-content-location{
    text-align: center;
  }

  div.separation-hr {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
  }


  .download-use-case {
    
    object-fit: contain;
  }

  .separator-top {
    width: 172px;
    height: 172px;
    object-fit: contain;
    margin-bottom: -85px;
  }

  div.lower {
    margin-top:5%;
  }

  div.high {
    margin-bottom:10%;
  }

  div.higher {
    margin-bottom:20%;
  }

  div.vertical-line {
    width: 3px;
    height: 120px;
    margin-top: -80px;
    margin-left:50%;
    background-color:  var(--turquoise-blue); 
    color: var(--turquoise-blue);
  }
  
  .step-title {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-blue-grey);
  }

  .step-muted {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: right;
    color: lightslategrey;
  }
  
  .step-image-desktop {
    height: 363px;
    object-fit: contain;
  }

  .step-image-mobile { 
    height: 363px; 
    object-fit: contain;
  }

  .light-blue-image {
    height: 546px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .light-blue-image-no-shadow {
    height: 546px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .phone-image {
    height: 744px;
    object-fit: contain;
  }

  .lg-only {
    display: none;
  }

  /*University*/
  .azure-container {
    background-color: var(--azure);
  }

  
  .uni-logo {
    margin: 5px 5px 5px;
    height: 50px;
    object-fit: contain;
  }

  .uni-tools {  
    height: 50px;
    object-fit: contain;
  }


  .content-padded-uni{
    padding: 10px;

  }
  .accordion-double {
    height:600px;
  }
  .accordion-single {
    height:300px;
  }

  .action-button {
    width: 100%;
  }
  .menu-icon {
    max-width: 19.8px;
    max-height: 19.8px;
    object-fit: contain;
    margin-right: 5px;
    padding: 3px;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 20px;

  }

  .avatar-icon{
    max-width: 19.8px;
    max-height: 19.8px;
    object-fit: contain;
    margin-right: 5px;
    padding: 3px;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 20px;

  }

  .accordion-button{
    background-color: #fff;

  }

  /*Discount use case*/

.discount-box {
  margin: 10% 5% 10%;
}

.discount-title {
  font-family: 'NotoSans', sans-serif;
  font-size: 56px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);
}

.discount-info {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3f434d;
}

.discount-perc {
  font-family: 'NotoSans', sans-serif;
  font-size: 77px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f1e28;
}

.discount-perc-sub {
    font-family: 'NotoSans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f1e28;
}

.discount-article {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #1f2024;

}

img.discount-article-img {
  max-height:472px;
  object-fit: contain;
}

img.discount-monkey-img {
  max-height:673px;
  object-fit: contain;
}

img.discount-sub-icons {
  max-width: 13px;
  max-height: 13px;
}

div.discount-separation-top {
  margin-top: 5%;
}

.account-body {
  margin-top:10%;
  margin-bottom:10%;
}

  .justify-diff{
    text-align: center;
  }

}
  

/*LARGE SCREEN*/
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  img.talao-logo {
    margin-left: 10px;
    height: 100%;
  }

  div.dark-blue-jumbo {
    height: 690px;  
    padding: 6% 25% 34% 17%;
    background-color: var(--dark-blue-grey);
  }


  .phone-home {
    height: 745px;
    margin-left:10px;
    margin-top: -400px;
    object-fit: contain;
  }


  .img-banner {
    width: 100%;
    position:absolute;
    left:-50px;
    top: 0px;
    
  }

  .tag-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  
  p.paragraph {
    padding-top: 100px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }


  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
  }

  
  img.title-separator-alt {
  
    object-fit: contain;
    display:none;
  }

  .section-header-dark {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: 'NotoSans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }

  div.dark-blue-section {
    height: 590.3px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    width: 100%;
    object-fit: contain;
    margin-bottom: -120px;
  }

  img.seperation-stripe-alt {
    display:none;
    object-fit: contain;
    margin-bottom: -120px;
  }

  img.activation-pass-wallet {
    width: 468px;
    margin-top: 10%;
    object-fit: contain;
  }
  img.activation-pass-wallet-alt {
    max-width: 468px;
    margin-top: 10%;
    object-fit: contain;
    display: none;
  }
  
  .title-yellow-sec {
    margin: 24% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--golden-yellow);
  }

  
  .title-yellow {
    margin: 24% 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .title-white {
    margin: 24% 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .title-white-single {
    margin-top: 36%;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 60px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: 3px;
    color: white;
  }

  .v-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-white-low {
    margin: 24% 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }
  .section-title-dark-single {
    margin-top: 30%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;     
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }



  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }
  
  .shifting-content-location{
    text-align: left;
  }
  div.separation-hr {
    width: 354px;
    height: 1px;
    margin: 76.5px 19.9px 71.5px 23px;
    background-color: #d8d8d8;
    display: none;
}
  
  div.separated {
    margin-top: 100px;
  }
  
  .download-use-case {
    width: 477px;
    height: 384px;
    object-fit: contain;
  }
  
  .separator-top {
    width: 289px;
    height: 289px;
    object-fit: contain;
    margin-bottom: -140px;
  }

  div.lower {
    margin-top:5%;
  }

  div.high {
    margin-bottom:10%;
  }

  div.higher {
    margin-bottom:20%;
  }
  
  div.vertical-line {
    width: 3px;
    height: 120px;
    margin-top: -70px;
    margin-left:50%;
    background-color:  var(--turquoise-blue); 
    color: var(--turquoise-blue);
  }
  
  .step-title {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-blue-grey);
  }

  .step-muted {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: right;
    color: lightslategrey;
  }

  .step-image-desktop {
    height: 363px;
    object-fit: contain;
  }

  .step-image-mobile { 
    height: 363px;
    object-fit: contain;
  }
  .light-blue-image {
    height: 546px;
    margin-right: -500px;
    margin-top: 20px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .light-blue-image-no-shadow {
    height: 546px;
    margin-right: -500px;
    margin-top: 20px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .phone-image {
    height: 744px;
    object-fit: contain;
  }

  .sm-only {
    display: none;
  }

  /*University*/
  .azure-container {
    background-color: var(--azure);
  }
  
  .uni-logo {
    margin: 5px 5px 5px;
    height: 50px;
    object-fit: contain;
  }

  .uni-tools {  
    height: 50px;
    object-fit: contain;
  }


  .content-padded-uni{
    padding: 50px;
  }
  .accordion-double {
    height:702px;
  }
  .accordion-double-2 {
    height:706px;
  }
  .accordion-single {
    height:300px;
  }

  .action-button {
    width: 100%;
  }


/*Discount use case*/

.discount-box {
  margin: 10% 5% 10%;
}

.discount-title {
  font-family: 'NotoSans', sans-serif;
  font-size: 56px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);
}

.discount-info {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3f434d;
}

.discount-perc {
  font-family: 'NotoSans', sans-serif;
  font-size: 77px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f1e28;
}

.discount-perc-sub {
    font-family: 'NotoSans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f1e28;
}

.discount-article {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #1f2024;

}

img.discount-article-img {
  max-height:472px;
  object-fit: contain;
}

img.discount-monkey-img {
  max-height:673px;
  object-fit: contain;
}

img.discount-sub-icons {
  max-width: 13px;
  max-height: 13px;
}

div.discount-separation-top {
  margin-top: 5%;
}
.account-body {
  margin-top:10%;
  margin-bottom:10%;
}
.justify-diff{
  text-align: left;
}

}

/*HUGE SCREEN*/
@media only screen and (min-width: 1921px) {
  img.talao-logo {
    margin-left: 10px;
    height: 100%;
  }

  div.dark-blue-jumbo {
    height: 690px;  
    padding: 6% 25% 34% 17%;
    background-color: var(--dark-blue-grey);
  }

  .phone-home {
    height: 745px;
    margin-left:10px;
    margin-top: -500px;
    object-fit: contain;
  }


  .img-banner {
    width: 100%;
    position:absolute;
    left:-50px;
    top: 0px;
    
  }

  .tag-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  
  .subtitle-colored {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--turquoise-blue);
  }

  
  p.paragraph {
    padding-top: 100px;
  }

  .tag-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .tag-h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }


  img.title-separator {

      margin-top: -150px;
      
      object-fit: contain;
  }

  
  img.title-separator-alt {
  
    object-fit: contain;
    display:none;
  }

  .section-header-dark {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  .subtitle-dark {
    font-family: 'NotoSans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }

  img.btn-mac-app-store {
    width: 234.2px;
    height: 61.2px;
    margin: 5px;
    object-fit: contain;
  }

  div.dark-blue-section {
    width: 100%;
    height: 658px;
    background-color: var(--dark-blue-grey);
  }

  img.seperation-stripe {
    width: 100%;
    object-fit: contain;
    margin-bottom: -200px;
  }

  img.seperation-stripe-alt {
    display:none;
    object-fit: contain;
    margin-bottom: -120px;
  }

  img.activation-pass-wallet {
    width: 468px;
    margin-top: 10%;
    object-fit: contain;
  }
  img.activation-pass-wallet-alt {
    max-width: 468px;
    object-fit: contain;
    display: none;
  }
  
  .title-yellow-sec {
    margin: 15% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--golden-yellow);
  }

  .title-yellow {
    margin: 15% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--golden-yellow);
  }

  .title-white {
    margin: 15% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .title-white-single {
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .title-white-low {
    margin: 24% 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

  .section-title-dark-single {
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;    
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
  }



  .separator-bottom {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -75px;
  }
  
  .shifting-content-location{
    text-align: left;
  }

  div.separation-hr {
      width: 354px;
      height: 1px;
      margin: 76.5px 19.9px 71.5px 23px;
      background-color: #d8d8d8;
      display: none;
  }

  div.separated {
    margin-top: 100px;
  }
  .download-use-case {
    width: 477px;
    height: 384px;
    object-fit: contain;
  }
  

  .separator-top {
    max-width: 289px;
    max-height: 289px;
    object-fit: contain;
    margin-bottom: -140px;
  }

  div.lower {
    margin-top:5%;
  }

  div.high {
    margin-bottom:20%;
  }

  div.higher {
    margin-bottom:30%;
  }

  div.vertical-line {
    width: 3px;
    height: 120px;
    margin-top: -80px;
    margin-left:50%;
    background-color:  var(--turquoise-blue); 
    color: var(--turquoise-blue);
  }

  .step-title {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-blue-grey);
  }

  .step-muted {

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: right;
    color: lightslategrey;
  }


  .step-image-desktop {
    height: 363px;
    object-fit: contain;
  }

  .step-image-mobile { 
    height: 363px;
    object-fit: contain;
  }

  .light-blue-image {
    height: 546px;
    margin-right: -900px;
    margin-top: 20px;
    margin-bottom:20px;
    object-fit: contain;
  }

  .light-blue-image-no-shadow {
    height: 546px;
    margin-right: -800px;
    margin-top: 20px;
    margin-bottom:20px;
    object-fit: contain;
  }


  .phone-image {
    height: 744px;
    object-fit: contain;
  }

  .sm-only {
    display: none;
  }

  /*University*/
  .azure-container {
    background-color: var(--azure);
  }

  .uni-logo {
    margin: 5px 5px 5px;
    height: 50px;
    object-fit: contain;
  }

  .uni-tools {  
    height: 50px;
    object-fit: contain;
  }

  .content-padded-uni{
    padding: 50px;

  }
  .accordion-double {
    height:701px;
  }
  .accordion-single {
    height:300px;
  }

  .action-button {
    width: 100%;
  }

/*Discount use case*/

.discount-box {
  margin: 10% 5% 10%;
}

.discount-title {
  font-family: 'NotoSans', sans-serif;
  font-size: 56px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);
}

.discount-info {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3f434d;
}

.discount-perc {
  font-family: 'NotoSans', sans-serif;
  font-size: 77px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f1e28;
}

.discount-perc-sub {
    font-family: 'NotoSans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f1e28;
}

.discount-article {
  -webkit-text-stroke: 1px rgba(202, 206, 213, 0.05);
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #1f2024;

}

img.discount-article-img {
  max-height:472px;
  object-fit: contain;
}

img.discount-monkey-img {
  max-height:673px;
  object-fit: contain;
}

img.discount-sub-icons {
  max-width: 13px;
  max-height: 13px;
}

div.discount-separation-top {
  margin-top: 5%;
}

.account-body {
  margin-top:10%;
  margin-bottom:10%;
}
.justify-diff{
  text-align: left;
}
}

/*COMMON*/
.links-icon {
  width: 19.8px;
  height: 19.8px;
  object-fit: contain;
}

.links-dark {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.89;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-blue-grey);
}

.links-light {
  font-family: 'Noto Sans', sans-serif;  
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;  
  line-height: 6.63;
  letter-spacing: normal;
  text-align: center;
  color: var(--turquoise-blue);
}

.phone-download {
  max-height: 797px;
  object-fit: contain;
}

.btn-learn-more {
  margin-top: 5%;
  width: 202px;
}

.borderless-card {
  border: 0;
  background-color: white;
}
  
.icon-use-case {  
  width: 52px;
  height: 49px;
  object-fit: contain;
}

.icon-manage {  
  width: 43px;
  height: 41px;
  object-fit: contain;
}

.icon-account {
  width: 89px;
  height: 89px;
  object-fit: contain;
}

.uni-banner {
  width: 540px;
  height: 539px;
  object-fit: contain;
  
}

.nav-menu {
  font-family: 'Noto Sans', sans-serif;  
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.29;
  letter-spacing: normal;
  text-align: right;
  color: var(--dark-blue-grey)!important;
}

.header-position {
  margin-left: 5%;
  margin-right: 5%;
}

.header{
  background-color: #3367b1;
}

.nav-link, .dropdown-item {
  color: var(--dark-blue-grey)!important;
}
.nav-link:hover, .dropdown-item:hover {
  color: var(--azure)!important;
}

div.footer-normal {
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);

}

img.footer-normal-img{
  margin-right: 10px;
  margin-top: 5px;
}

div.footer-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-grey);
}

img.follow-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}


.btn-demo-hr {
  margin-top:-25px;
}

.btn-demo {
  height: 50px;
}

.tag-h2-dark {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1px;
  color: var(--dark-blue-grey);
}

.manage-image {
    
  height: 744px;
  object-fit: contain;
}

.light-blue-div {  
  height: auto;
  background-color: var(--light-turquoise-blue);
}

.content-line {
  margin-top:10px;
  width: 100%;
  height: 6px;
  background-color: #bec2c6;
}

.content-check-un {
    width: 20px;
    height: 20px;
    opacity: 0.78;
    border-radius: 8px;
    border: solid 2px #717477;
    background-color: #fff;
}

.content-check {
    width: 20px;
    height: 20px;
    opacity: 0.78;
    border-radius: 8px;
    border: solid 8px #3367b1;
    background-color: #fff;

}

.turquoise-container {
  background-color: var(--light-turquoise-blue);
}

.img-fit {    
  object-fit: contain;
}

.btn-dark-submit {  
  width: 273px;
  border-radius: 10px;
  background-color: var(--dark-blue-grey);
}

.footer{
  position: relative;
  left: 0;
  bottom: 0;
  margin-left: 10px;
  margin-top: 50px;
  height: 50px;
}

.content-container {
  min-height: calc(100vh - 350px);
}
/****************************************************/


.img-scale {
  width: auto;
  height: auto;
}

/****UniversityAccount**/

.connectedBtn {
  border-radius: 8px;
  background-color: #1bc167;
  padding: 0px 8px;

  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 15px 0;
  border-bottom: 2px solid #ebf2f7;

  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}


.avatarCircle {
  border-radius: 20px;
  border: solid 1px #707070;
  padding: 0px 8.5px 4.5px 8.5px;
}

.nameText{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #333 !important;
}

.logoutWrap {
  padding-top: 15px;
  border-top: 2px solid #ebf2f7;
}

.logoutIcon{
  margin-right: 14.5px;
}

.logoutText{
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #52575d;
}

.accordionBody{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showMore{
  display: flex;
  justify-content: center;
}

.showMoreIcon{
  border: solid 2px #e3e9ef;
  padding: 10px;
  border-radius: 5px;
  color: #b3b8bd;
}

/****bootstrap**/

.accordion-button {
  background-color: #fff !important;
  border-radius: 20px 20px 0 0 !important;

  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #333 !important;
}

.accordion-item, .accordion-header {
  border-radius: 20px !important;
}

.accordion-button::after{
  display: none !important;
}

/****react-calendar**/

.react-calendar{
  border: none !important;
}


