@import "src/assets/scss/variables";

.how-to-works-page {
  .link-container {
    border: 4px solid $color-grey-light-1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 28px 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .link-label {
      color: $color-blue-light-1;
      font-weight: bold;
      font-size: 1.0625rem;
      margin: 0;
    }

    .link-indicator {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
