@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";


.app-footer {
  background: $color-dark;
  height: 275px;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include breakpoint-up($sm) {
      flex-direction: row;
    }

    .app-info {
      margin-bottom: 1rem;

      @include breakpoint-up($sm) {
        margin-right: 8.75rem;
        margin-bottom: 0;
      }
    }
  }
}
