.bg-white {
  background: $color-white !important;
}

.bg-blue-dark {
  background: $color-dark !important;
}

.text-blue-dark {
  color: $color-dark !important;
}

.text-grey {
  color: $color-grey !important;
}

.text-white {
  color: $color-white !important;
}
