$color-dark: #161f3d;
$color-yellow: #efcd26;
$color-white: #fff;
$color-black: #000;
$color-black-2: #141313;
$color-grey: #e1e4f2;
$color-grey-light: #f5f6f8;
$color-grey-light-1: #cfd4e5;
$color-blue: #0650c6;
$color-blue-light: #11b2de;
$color-blue-light-1: #1eaadc;
$color-blue-light-2: #09a0c9;
$color-blue-light-3: #9dc5ff;
$color-green-light: #56b113;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 375px;
